button {
    background-color: $main-color;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border-bottom: 3px solid $main-color-darker;
    font-size: 1.2em;
    transition: all 400ms ease-in-out;

    &:hover {
        background-color: $main-color-darker;
    }

    &.outline {
        background-color: white;
        color: $main-color-darker;
        border: 1px solid $main-color-darker;
        border-bottom: 3px solid $main-color-darker;
    }

    &.outline:hover {
        background-color: $main-color-darker;
        color: white;
    }

    &.warning {
        background-color: $warning;
        border-bottom: 3px solid $warning-darker;
    }

    &.warning:hover {
        background-color: $warning-darker;
    }

    &.danger {
        background-color: $danger;
        border-bottom: 3px solid $danger-darker;
    }

    &.danger:hover {
        background-color: $danger-darker;
    }

    &.info {
        background-color: $info;
        border-bottom: 3px solid $info-darker;
    }

    &.info:hover {
        background-color: $info-darker;
    }
}