$main-color: #008489;
$main-color-darker: #01575a;
$main-color-lighter: rgba(0, 132, 137, 0.3);

$success: #28a745;
$success-darker: #1f8136;
$warning: #ffc107;
$warning-darker: #ce9c07;
$danger: #dc3545;
$danger-darker: #b42b39;
$info: #428bca;
$info-darker: #3672a7;

$main-font: 'Roboto', sans-serif;
$title-font: 'Oswald', sans-serif;
$color-font: #67666e;
$color-font-lighter: #cacaca;
$color-font-ultra-light: #ececec;

$main-background: linear-gradient(90deg, #008489 0%, #00708f 100%);