<nav #nav>
    <header>
        <div class="burger" (click)="toggleMenu()">
            <div class="bar up"></div>
            <div class="bar middle"></div>
            <div class="bar down"></div>
        </div>
        <!-- <div class="mensaje" 
             *ngIf="texto.length > 0 && showMensaje"
             [ngClass]="{
                            'success': tipoMensaje === 'exitoTotal',
                            'warning': tipoMensaje === 'warning',
                            'danger': tipoMensaje === 'error'
                        }">
            {{texto}}
        </div> -->
        <div class="user">
            <span>
                <div class="perfil"></div>
            </span>
            <div class="dropdown">
                <div class="menu-user">
                    <div class="item" routerLink="/cuenta">Mi cuenta</div>
                    <hr>
                    <div class="item">Ayuda</div>
                    <hr>
                    <div class="item">Cerrar sesión</div>
                </div>
            </div>
        </div>
    </header>
    <div class="side-menu">
        <div class="item" (click)="toggleMenu()">
            Soporte
        </div>
        <hr>
        <div class="item" (click)="toggleMenu()">
            Condiciones legales
        </div>
        <div class="item">
            &copy; 2019 ACME, S.A.
        </div>
    </div>
</nav>
