<div class="container auth">
    <div class="card">
        <div class="fila">
            <div class="col-100 titulo">
                <h1>Crear cuenta</h1>
            </div>
        </div>
        <hr>
        <form [formGroup]="signinForm" (ngSubmit)="sendUsuario()">
            <div class="fila">
                <div class="col-100 pila">
                    <label for="nombre">Nombre y apellidos</label>
                    <input id="nombre "type="text" formControlName="nombre">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 pila">
                    <label for="email">Correo electrónico</label>
                    <input id="email "type="text" formControlName="email">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 pila">
                    <label for="password">Contraseña</label>
                    <input id="password" type="password" formControlName="password">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 pila">
                    <label for="checkpass">Repita contraseña</label>
                    <input id="checkpass" type="password" formControlName="checkpass">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 botones">
                    <!-- Pendiente crear custom validator -->
                    <button *ngIf="signinForm.invalid || (signinForm.get('password').value !== signinForm.get('checkpass').value)" type="button"
                            (click)="checkValidation()">
                        Enviar
                    </button>
                    <button *ngIf="signinForm.valid" type="submit">Enviar</button>
                </div>
            </div>
        </form>
        <p>Si ya dispone de cuenta pulse <b routerLink="/">aquí</b></p>
        <p class="danger" *ngIf="showMensaje">{{mensaje}}</p>
    </div>
</div>
